<!Doctype html>
<html ng-app>
	<head>
		<title>Gamification</title>
		<script src="/static/angular.js"></script>
		
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<h1 id="header"> Gami! </h1>
		<script type="text/javascript">
		
		function Controller($scope,$http){
	    $scope.rules = [];

	    $scope.update = function(rule) {
	      $scope.rules.push(angular.copy(rule));
	    };

	    $scope.send = function() {
			$http({
	            url: '/send',
	            method: "POST",
	            data: $scope.rules,
	            headers: {'Content-Type': 'application/JSON'}
	        	}).success(function (data, status, headers, config) {
	                $scope.persons = data; // assign  $scope.persons here as promise is resolved here 
	            }).error(function (data, status, headers, config) {
	                $scope.status = status;
            });
	    };
	  }
	  </script>
	</head>
	<body>
	<div ng-controller="Controller">
		<form class="form">
		<table>
			<tr>
				<td>
			<b> project :</b> 
				</td>
				<td>
			<input type="text" id="http" ng-model="rule.http">
				</td>
			</tr>
			<tr>
				<td>
			<b> points: </b>
				</td>
				<td>
			<input type="text" id="pt" ng-model="rule.points">
				</td>
			</tr>
			<tr>
				<td>
			<b> rule: </b>
				</td>
				<td>
			<input type="text" id="rule" ng-model="rule.rule">
				</td>
			</tr>
			<tr>
				<td row-spane='2' style="text-align:'center'">
		<button ng-click="update(rule)">SAVE</button>
				</td>
			</tr>
		</table>
		</form> 

		<div>
			<ul id="rules">
				<li ng-repeat="currRule in rules" value="{{currRule}}">{{"Proj: " + currRule.http +" -> " + currRule.rule +" -> "+ currRule.points}}</li>
			</ul>
			<button method="post" action="/send" ng-click="send()">Send</button>
		</div>
	</div>
	
	</body>
</html>