<!Doctype html>
<html ng-app>
	<head>
		<title>Gamification</title>
		<script src="angular.js"></script>
		<script src="client.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
		<h1 id="header"> Gami! </h1>
	</head>
	<body>
	<div ng-controller="Controller">
		<form class="form">
		<table>
			<tr>
				<td>
			<b> project :</b> 
				</td>
				<td>
			<input type="text" id="http" ng-model="rule.http">
				</td>
			</tr>
			<tr>
				<td>
			<b> points: </b>
				</td>
				<td>
			<input type="text" id="pt" ng-model="rule.pts">
				</td>
			</tr>
			<tr>
				<td>
			<b> rule: </b>
				</td>
				<td>
			<input type="text" id="rule" ng-model="rule.rule">
				</td>
			</tr>
			<tr>
				<td row-spane='2' style="text-align:'center'">
		<button ng-click="update(rule)">SAVE</button>
				</td>
			</tr>
		</table>
		</form> 

		<div>
			<ul id="rules">
				<li ng-repeat="currRule in rules" value="{{currRule}}">{{"Proj: " + currRule.http +" -> " + currRule.rule +" -> "+ currRule.pts}}</li>
			</ul>
			<button ng-click="send()">Send</button>
		</div>
	</div>
	
	</body>
</html>